### Importing Values

In [3]:
import pandas as pd

stocks=pd.read_csv('stocks.csv',header='infer')
stocks.index=stocks['date']
stocks=stocks.drop(['date'],axis=1)
stocks.head()

         company  price
date
Jan 2000    MSFT  39.81
Feb 2000    MSFT  36.35
Mar 2000    MSFT  43.22
Apr 2000    MSFT  28.37
May 2000    MSFT  25.45

### Preprocessing

In [7]:
import numpy as np
N,d =stocks.shape()
delta=pd.DataFrame(100*np.divide(dataset.iloc[1:,:].values-dataset.iloc[:(int)(n-1),:].values,
                                 dataset.iloc[:(int)(n-1),:].values),
                   columns=dataset.columns,
                   index=dataset.iloc[1:].index)
delta.head()

TypeError: 'tuple' object is not callable

### We can plot the distribution of the percentage daily changes in stock price

In [ ]:
from mpl_toolkits.mplot3d import Axes3D
import matplotlib.pyplot as plt
%matplotlib inline

fig=